<h1>Portfolio Items</h1>
<% @portfolio_items.each do |item| %>
  <p><%=item.title %></p>
  <p><%=item.subtitle %></p>
  <p><%=item.body %></p>
  <%=image_tag item.thumbnail_image unless item.thumbnail_image.nil?%>
<%end%>

